<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @always_true_context.user_id %>
</p>


<%= link_to 'Edit', edit_always_true_context_path(@always_true_context) %> |
<%= link_to 'Back', always_true_contexts_path %>
