div.message{
  padding:20px;
  border:2px solid black;
  border-radius:10px;
  margin:10px;
  &.selected{
    border:2px dotted black;
  }
  &.cursored{
    border:5px solid black;
  }
  input{
    width:300px;
  }
  div#command-inner{
    margin:50px;
  }
}