// Place all the styles related to the Inboxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.message{
  padding:20px;
  border:2px solid black;
  border-radius:10px;
  margin:10px;
  &.selected{
    border:2px dotted black;
  }
  input{
    width:300px;
  }
}