<div id="navigation" class="centered">
	| 
	<%= link_to 'inboxes', root_url %> |
	<%= link_to 'message sources', my_message_sources_path %> | 
	<%= link_to 'help', 'http://www.twitter.com/blaha' %> |
</div>