<div id="session" class="centered">
  <!-- twitter -->
    <% if current_user && current_user.has_auth("twitter") %>
      <div class="auth connected">
        <p>twitter connected</p>
      </div>
    <% else %>
      <div class="auth disconnected">
        <p><%= link_to "Connect with Twitter", "/auth/twitter" %></p>
      </div>
    <% end %>
</div>